/* Place CSS styles here */
html {
  scroll-behavior: smooth;
}

:root {
  --salmon: #FF9570;
  --offwhite:  #faf0e6;
  --white: #ffffff;
  --olive:  #D3F015;
  --slime:  #EDFB93;
  --green:  #d0dd28;  
  --orange: #ffd071;
  --blush:  #f59db2;
  --lgreen: #d8e589;
  --yellow: #feed76;
  --peach:  #fccba8;
  --darkpink: #c0338d;
  --periwinkle: #8997cc;
  --desatpurple: #aa84bc;
  --black:  #000000;
  --button: #acddd4;
  --buttonhover: #1b1878;
}

.button {
  border:none;
  color: var(--offwhite);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1{
  background-color: var(--button);
  color: var(--black);
  border-radius:30px;
}

.button1:hover {
  background-color: var(--buttonhover);
  color: var(--offwhite);
}

.link-fakebutton {
  background-color:var(--darkpink);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius:30px;
  cursor: pointer;
}
.link-fakebutton a{
  color: var(--white);
}

.link-fakebutton:hover{
  display: inline-block;
  background-color: var(--buttonhover);
}


body {
  /* distribute font to entire site */
  font-family: 'Inconsolata', monospace;
  background-color: var(--salmon);  
  overflow-x:hidden;
}

.sparkle img {
  display:flex;
  align-items:flex-end;
  position: fixed;
  z-index:5;
  margin: -8.98em -6.77em;
  transform: scale(0.36);
}


.page-wrap {
  position: fixed;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  margin:auto;
  background: var(--offwhite);
  border-radius: 20px;
  overflow-y: auto;
  z-index:4;
  overflow-x: hidden;
}

.img-logo {
  display: flex;
  height: 110px;
  margin: 1% 1%;
  position: fixed;
  z-index: 3;
}

.val-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: .3%;
  min-width: 65em;
  margin: 1em 8.4em;
  border-radius: 30px;
  background-color: var(--slime);
  position: fixed;
  z-index: 2;
}

.val-header a{
  text-decoration: none;
}

.val-header a:hover {
  color: #9B1FF4;
  text-decoration: none;
}

.valheader img{
  margin-top: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  justify-content: last baseline;
}

/*Background Images*/

.val-featured-image {
  min-height: 800px;
  background: url(../img/homepagecpy.png);
  /* These 3 rules are normally used in sets for centered background-images */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
  margin-bottom: 20%;
}

.val-featured-image-menu {
  min-height: 800px;
  background: url(../img/menubg.png);
  /* These 3 rules are normally used in sets for centered background-images */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20%;
}

.val-featured-image-reservations {
  min-height: 800px;
  background: url(../img/reservationsbg.png);
  /* These 3 rules are normally used in sets for centered background-images */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20%;
}

.val-featured-image-events {
  min-height: 800px;
  background: url(../img/events-bg.png);
  /* These 3 rules are normally used in sets for centered background-images */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.val-featured-image-adopt {
  min-height: 668px;
  background: url(../img/Adopt.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.val-featured-image-pastadopt {
  min-height: 800px;
  background: url(../img/pastadopt.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: -5%;
}

.val-featured-image-contact{
  min-height: 800px;
  background: url(../img/contactbg.png);
  /* These 3 rules are normally used in sets for centered background-images */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20%;
  margin-top: -5%;
}


.val-featured-catshape {
  min-height: 500px;
  text-align: center;
  transform: scale(1.6);
  margin-top: 12%;
}

/* Text Attributes */

.header-center{
  display: inline-block;
  position: absolute;
}

.header-center h1 {
  display: flex;
  font-size: 185px;
  color: var(--salmon);
  justify-content: center;
  margin-top: 40%;
  margin-left: 10%;
}

.header-center h2 {
  display: flex;
    font-size: 30px;
    color: var(--white);
    justify-content: center;
    align-content: center;
    margin-top: -15%;
}

.header-center-menu {
  display: inline-block;
  position: absolute;
}

.header-center-menu h1 {
  display: flex;
  font-size: 185px;
  color: var(--white);
  justify-content: center;
  margin-top: 83%;
  margin-left: 10%;
}

.header-center-reserve {
  display: inline-block;
  position: absolute;
}

.header-center-reserve h1 {
  display: flex;
  font-size: 185px;
  color: var(--white);
  justify-content: center;
  margin-top: 83%;
  margin-left: 10%;
}

.header-center-events {
  display: inline-block;
  position: absolute;
}

.header-center-events h1 {
  display: flex;
  font-size: 185px;
  color: var(--white);
  justify-content: center;
  margin-top: 75%;
  margin-left: 8%;
}

.header-center-adopt {
  display: inline-block;
  position: absolute;
}

.header-center-adopt h1 {
  display: flex;
  font-size: 185px;
  color: var(--white);
  justify-content: center;
  margin-top: 80%;
  margin-bottom: 11%;
  margin-left: 9%;
}

.header-center-about{
  text-align: center;
  display: flex;
  margin-top: 3%;
  justify-content: center;
}

.header-center-about h1 {
  display: flex;
  text-align: center;
  font-size: 50px;
  color: var(--black);
}

.header-center-contact{
  display: inline-block;
  position: absolute;
}

.header-center-contact h1 {
  display: flex;
  font-size: 185px;
  color: var(--white);
  justify-content: center;
  margin-top: 22%;
  margin-left: 3%;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', monospace;
  font-weight: 700;
  
}


h1 {
  font-size: 32px;
}

p {
  font-size: 20px;
  line-height: 1.4;
}

/* homepage */
.tom-and-jerry-wrapper {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #999;
  border-radius: 12px;
  padding: 12px 24px;
}

.tom-and-jerry-enter-image {
  text-align: center;
}


.tom-and-jerry-ups-image img {
  border: 4px solid red;
  padding: 20px;
  margin: 20px;
}

a {
  color: black;
  font-size: 20 px;
}


.tom-and-jerry-center {
  text-align: center;
}



/*Val Row Classes*/
.val-row-3-tiles{
  flex-direction: row;
}

.val-row-3-tiles {
  display: flex;
  text-align:center;
  justify-content: center;
  gap: 50px;
  font-size: 25px;
  padding: 40px;
}

.val-row-3-tile img{
  border: 20px;
  border-radius: 20px;
  justify-items: center;
  min-height: 361px;
}

.val-row-3{
  flex-direction: row;
}


/* Catalogue Classes, variable colors, sparkle detail*/

.kitties {
  background-color: var(--offwhite);
  padding: 20px 50px 20px 50px;
  overflow-x: hidden;
}

.sparkle-small{
  display: flex;
  position: absolute;
  z-index: 1;
  align-items: center;
  margin: -6.9em 1.1em;
  transform: scale(0.36);
}

.sparkle-small2{
  display: flex;
  position: absolute;
  z-index: 1;
  align-items: center;
  margin: -6.3em 2.1em;
  transform: scale(0.36);
}

.sparkle-alt{
  display: flex;
  position: absolute;
  z-index: 1;
  align-items: center;
  margin: -3.1em -0.2em;
  transform: scale(0.36);
}

.val-row-catalog-lgreen {
  background-color: var(--lgreen);
  min-width: 700px;
  margin: 0em -5em;
  padding: 2.5%;
  overflow-x: hidden;
}

.val-row-catalog-green {
  background-color: var(--green);
  min-width: 700px;
  margin: 0em -5em;
  padding: 2.5%;
  overflow-x: hidden;
}

.val-row-catalog-yellow {
  background-color: var(--yellow);
  min-width: 700px;
  margin: 0em -5em;
  padding: 2.5%;
  overflow-x: hidden;
}

.val-row-catalog-orange {
  background-color: var(--orange);
  min-width: 700px;
  margin: 0em -5em;
  padding: 2.5%;
}

.val-row-catalog-peach {
  background-color: var(--peach);
  min-width: 700px;
  margin: 0em -5em;
  padding: 2.5%;
}

.val-row-catalog-blush {
  background-color: var(--blush);
  min-width: 800px;
  margin: 0em -5em;
  padding: 2.5%;
}

.val-row-catalog-darkpink {
  background-color: var(--darkpink);
  min-width: 800px;
  margin: 0em -5em;
  padding: 2.5%;
}

.val-row-catalog-desatpurple {
  background-color: var(--desatpurple);
  min-width: 800px;
  margin: 0em -5em;
  padding: 2.5%;
}

.val-row-catalog-periwinkle{
  background-color: var(--periwinkle);
  min-width: 800px;
  margin: 0em -5em;
  padding: 2.5%;
}

.val-row-catalog-item {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.val-row-catalog-item span {
  margin-left: 10px;
}

.val-row-catalog-item p {
  max-width: 60ch;
  background-color: none;
}
.val-row-catalog-item img {
  max-height: 200px;
  max-width: 200px;
  object-fit: cover;
  border: 20px;
  border-radius: 20px;
  justify-items: center;
}

.val-row-catalog-item h3 {
  font-size: 25px;
  display: inline-flex;
  padding-right: 18%;
  margin-bottom: -2%;
}

.val-row-catalog-lgreen h2 {
  display: flex;
  font-size: 40px;
  /* vertical-align: top; */
  justify-content: center;
  letter-spacing: 1.5px;
  margin-top: 0.5%;
  margin-bottom: 1%;
  align-items: flex-start;
}

.val-row-catalog-blush h2 {
  display: flex;
  font-size: 40px;
  /* vertical-align: top; */
  justify-content: center;
  letter-spacing: 1.5px;
  margin-top: 0.5%;
  margin-bottom: 1%;
  align-items: flex-start;
}

/*Menu Classes*/

.aligncenter-menu {
  text-align: center;
  margin-left: auto;
  justify-content: center;
  max-width: 76ch;
  margin-right: auto;
  margin-top: -10%;
}

.aligncenter-menu h2{
  font-size: 50px;
  margin-top: 20%;
  margin-bottom: 20%;
}
 
/*About Us Page style*/

.about-us-center {
  background-color: #f1f1f1;
  padding: 20px 10px;
  text-align: center;
}

.about-us-center h1, h2, h3, h4, p{
  align-items: center;
}

.about-us-center h2{
  background-color: #f1f1f1;
  padding: 20px 10px;
  text-align: center;
}

.aligncenter{
  text-align: center;
  margin-left: auto;
  justify-content: center;
  max-width: 65ch;
  margin-right: auto;
  margin-top: -10%;
}

.aligncenter h2{
  font-size: 50px;
  margin-top: 20%;
  margin-bottom: 20%;
}
 
.catshape{
  transform:scale(7);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Contact Us*/

.contact{
  display:flex;
  gap: 20px;
}

.contact-us{
  display:inline-block;
  text-align: center;
  margin-left: auto;
  max-width: 65ch;
  margin-right: auto;
  margin-top: -2%;
}

.aligncontact{
  text-align: center;
  margin-left: auto;
  justify-content: center;
  max-width: 65ch;
  margin-right: auto;
  margin-top: -10%;
}

.aligncontact h2{
  font-size: 50px;
  margin-bottom: 8%;
}

.aligncontact p{
  margin-bottom:20%;
}
.contact-us h3{
  max-width: 40ch;
  font-size: 25px;
  text-align: center;
}
/*Free google code (style was all inline, 
switched to divs, added z-index to fix map going \
over fixed nav bar*/

.mapouter{
  margin-left: auto;
  position:inherit;
  text-align:right;
  height:700px;
  width:600px;
  z-index: auto;
}
.gmap_canvas {
  position:inherit;
  z-index: auto; 
  height:700px;
  width:600px;
}

/*Footer Classes*/

footer {
  display: flex;
  justify-content: flex-end;
}
.footbox{

}
footer img {
  width: 40px;
}

label {
  display: block;
  font: 1rem 'Inconsolata', ;
}

input,
label {
  margin: 0.4rem 0;
}